@import "variables";

.btn .light{
  font-family: $website-font;
  border-radius: $website-btn-border-radius;
  border: none;
  background-color: $website-bg-color-light;
  color: $website-bg-color-dark;
  width: max-content;
  line-height: 1rem;
  padding:10px;
}

//-----------------------------------------------------------------------

.input .input-text {
  font-family: $website-font;
  border-radius: $website-btn-border-radius;
  border: 1px solid $website-bg-color-light;
  background-color: transparent;
  line-height: 1rem;
  padding:10px;
  width: 100%;
}

//-----------------------------------------------------------------------

.input .input-text-area{
  font-family: $website-font;
  border-radius: $website-btn-border-radius;
  border: 1px solid $website-bg-color-light;
  background-color: transparent;
  overflow: hidden;
  height: 300px;
  padding:10px;
  width: 100%;
}

//-----------------------------------------------------------------------

.nav{
  background-color: $website-bg-color-dark;
  font-family: $website-font;
  font-weight: 300;
  font-size: $website-font-small;
  padding: 0px 4%;
  display: flex;
  height: 70px;
  align-items: stretch;
  justify-content: space-between;
  filter: drop-shadow(0px -20px 20px $website-bg-color-dark);

  .nav-mobile-slider-options{
    display: none;
  }

  .website-logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 180px;
    img{
      display: flex;
      width:100%;
    }
  }

  .navbar-items{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 100%;

    .item{
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }

    a{
      color: rgba($website-bg-color-light,0.8);
      position: relative;
      text-decoration: none;
    }

    a:after{
      content: "";
      position: absolute;
      background-color: rgba($website-bg-color-light,0);
      height: 3px;
      // width: 0;
      bottom: -23px;
      transition: 0.2s ease-in;
    }

    a:hover{
      color: rgba($website-bg-color-light,1);
    }

    a:hover:after{
      background-color: rgba($website-bg-color-light,1);
      bottom: -13px;
      width: 70%;
    }

  }

  .nav-mobile-elements-container{
    display: none;
  }


}

//-----------------------------------------------------------------------

@media screen and (max-width: 992px) {

  .nav{

    //------------------------hide logo and options of past nav bar----------------------------
    .navbar-items{
      display: none;
    }

    .website-logo{
      display: none;
    }

    .nav-mobile-slider-options{
      background-color: red;
      height: 300px
    }

    position: relative;
    justify-content: flex-end;

    //-----------------------------------------------------------------------------------------

    .nav-mobile-elements-container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      // justify-content: center;

      width: 60%;
      // border: 1px solid red;

      img{
        display: flex;
      }

      .menu-toggler{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        position: relative;

        label{
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding:5px;
        }

        .bar1, .bar2, .bar3{
          height: 2px;
          width: 25px;
          background-color: $website-bg-color-light;
          margin: 3px 0;
          transition: 0.2s;
        }

        input[type=checkbox]{
          position: absolute;
          top:0;
          left:0;
          // transform: translate(-50%,-50%);
          opacity: 0;
        }

        input[type=checkbox]:after{
          transform: rotate3d(0,1,1,45deg);
        }

        input[type=checkbox]:before{
          transform: rotate3d(0,0,1,-45deg);
        }

        input[type=checkbox]:checked ~.nav-mobile-slider-options{
         transform: scale3d(0,1,1);
        }


      }

        .menu-toggler:hover{
          *{
            margin: 1.6px 0;
          }
        }

    }
  }

  .nav-mobile-slider-options{
    width: 100%;
    // background-color: $website-bg-color-dark;
    background-color: red;
    color: white;
    height: 150px;
    position: absolute;
    top:-150px;
    // top:0;
    transition: 0.3s;
  }

  // .nav-mobile-slider-options:after,
  // .nav-mobile-slider-options:before {
  //   content: '';
  //   width: 100%;
  //   height: 2px;
  //   position: absolute;
  //   background: red;
  //   top: 50%;
  //   transition: transform 0.5s;
  //   transform-origin: 60% 50%;
  // }

  // .nav-mobile-slider-options:after{
  //   transform: translate3d(0,-10px,0) scale3d(0.8,1,1);
  // }


  // .nav-mobile-slider-options:before{
  //   transform: translate3d(0,10px,0) scale3d(0.8,1,1);
  // }


}


