@import "variables";

.btn .light {
  font-family: $website-font;
  border-radius: $website-btn-border-radius;
  border: none;
  background-color: $website-bg-color-light;
  color: $website-bg-color-dark;
  width: max-content;
  line-height: 1rem;
  padding: 10px;
}

//-----------------------------------------------------------------------

.input .input-text {
  font-family: $website-font;
  border-radius: $website-btn-border-radius;
  border: 1px solid $website-bg-color-light;
  background-color: transparent;
  line-height: 1rem;
  padding: 10px;
  width: 100%;
}

//-----------------------------------------------------------------------

.input .input-text-area {
  font-family: $website-font;
  border-radius: $website-btn-border-radius;
  border: 1px solid $website-bg-color-light;
  background-color: transparent;
  overflow: hidden;
  height: 300px;
  padding: 10px;
  width: 100%;
}

//-----------------------------------------------------------------------

.nav {
  background-color: $website-bg-color-dark;
  font-family: $website-font;
  font-weight: 300;
  font-size: $website-font-small;
  padding: 0px 4%;
  position: sticky;
  z-index: 2;
  display: flex;
  top: 0;
  height: 70px;
  align-items: stretch;
  justify-content: space-between;
  filter: drop-shadow(0px -20px 20px $website-bg-color-dark);

  .nav-mobile-slider-options {
    display: none;
  }

  .website-logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 180px;

    img {
      display: flex;
      width: 100%;
    }
  }

  .navbar-items {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 100%;

    .item {
      width: 100%;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }

    a {
      color: rgba($website-bg-color-light, 0.8);
      position: relative;
      text-decoration: none;
    }

    a:after {
      content: "";
      position: absolute;
      background-color: rgba($website-bg-color-light, 0);
      height: 3px;
      // width: 0;
      bottom: -23px;
      transition: 0.2s ease-in;
    }

    a:hover {
      color: rgba($website-bg-color-light, 1);
    }

    a:hover:after {
      background-color: rgba($website-bg-color-light, 1);
      bottom: -13px;
      width: 70%;
    }

  }

  .nav-mobile-elements-container {
    display: none;
  }


}

//-----------------------------------------------------------------------

@media screen and (max-width: 992px) {

  .nav {
    z-index: 1;
    // filter: drop-shadow(0px 0px 0px $website-bg-color-dark);

    .nav-mobile-slider-options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      background-color: $website-bg-color-dark;
      color: white;
      height: 280px;
      // top: 0;
      left: 0;

      .mobile-menu-container {
        // border: 1px solid red;
        padding-top: 5%;
        width: 90%;
        height: 80%;
        position: absolute;
        display: flex;
        flex-direction: column;

        .item {
          display: flex;
          justify-content: flex-start;
          text-decoration: none;
          color: rgba($website-bg-color-light, 1);
          border-bottom: 1px solid rgba($website-bg-color-light, 0.2);
          padding: 15px 0px;

          &:last-child {
            border-bottom: 1px solid rgba($website-bg-color-light, 0);
          }
        }

        .close-icon {
          position: absolute;
          top: 0;
          right: 0;
          width: 50px;
          height: 50px;
          padding-top: 10px;
          cursor: pointer;

          .rectangle-one,
          .rectangle-two {
            width: 40%;
            background-color: rgba($website-bg-color-light, 0.7);
            height: 2px;
            position: absolute;
            top: 30%;
            left: 30%;
          }

          .rectangle-one {
            transform: rotate(45deg);
          }

          .rectangle-two {
            transform: rotate(90+45deg);
          }
        }

        .close-icon:hover {

          .rectangle-one,
          .rectangle-two {
            transition: 300ms;
            background-color: rgba($website-bg-color-light, 1);
          }
        }
      }


    }


    //------------------------hide logo and options of past nav bar----------------------------
    .navbar-items {
      display: none;
    }

    .website-logo {
      display: none;
    }

    position: relative;
    justify-content: flex-end;

    //-----------------------------------------------------------------------------------------

    .nav-mobile-elements-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 60%;

      img {
        display: flex;
      }

      .menu-toggler {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        position: relative;

        label {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 5px;
        }

        .bar1,
        .bar2,
        .bar3 {
          height: 2px;
          width: 25px;
          background-color: $website-bg-color-light;
          margin: 3px 0;
          transition: 0.2s;
        }

        input[type=checkbox] {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }

        input[type=checkbox]:checked {
          background-color: blue;
          opacity: 1;
        }
      }

      .menu-toggler:hover {
        * {
          margin: 1.6px 0;
        }
      }
    }
  }








}
