$website-bg-color-dark: #191919;
$website-bg-color-light: #E9E9E9;
$website-font: "Montserrat-arabic";
$website-font-small: 1rem; //16px
$website-font-large: 1.875rem; //30px
$website-btn-border-radius: 0.375rem; //6px


