@import "app/Sass/variables";
@import "app/Sass/grid";
@import "app/Sass/mixins";
@import "app/Sass/components";


html,body{
  margin:0;
  padding:0;
  background-color: $website-bg-color-dark;
}

html{
  scroll-behavior: smooth;
}
