<div class="page-section">
  <h1>Latest Artworks</h1>
  <div class="artworks-section">

    <div class="artwork-container">
      <img src="../../assets/Images/26.jpg" alt="">
      <div class="artwork-overlay">

      </div>
    </div>

    <div class="artwork-container">
      <img src="../../assets/Images/27.jpg" alt="">
      <div class="artwork-overlay">

      </div>
    </div>

    <div class="artwork-container">
      <img src="../../assets/Images/28.png" alt="">
      <div class="artwork-overlay">

      </div>
    </div>

  </div>
</div>
