<div class="page-section" @startSlide @fadeIn>
  <h1>Latest Artworks</h1>
  <div class="artworks-section">

    <div class="artwork-container">
      <img src="../../assets/Images/26.jpg" alt="">
      <div class="artwork-overlay">
        <div class="overlay-text">Space Travelling</div>
      </div>
    </div>

    <div class="artwork-container">
      <img src="../../assets/Images/27.jpg" alt="">
      <div class="artwork-overlay">
        <div class="overlay-text">Flower of giving</div>
      </div>
    </div>

    <div class="artwork-container">
      <img src="../../assets/Images/28.png" alt="">
      <div class="artwork-overlay">
        <div class="overlay-text">Happy Christmas</div>
      </div>
    </div>

  </div>
</div>
