.goTopBtn{
  position: fixed;
  opacity: 0;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  i{
    color: white;
    font-size: 30px;
  }
}

.show{
  opacity: 1;
  transition: 0.3s ease-in-out;
}


