<div class="nav">
  <div class="website-logo">
    <!-- <img src="../../assets/Images/KY LogoWebsite.png" alt="KY logo"> -->
    <img src="assets/Images/KY LogoWebsite.png" [routerLink]="['/home-page']" alt="KY logo">
  </div>

  <div class="navbar-items">
    <a (click)="onClickTab('gallery')" class="item">Gallery</a>
    <a (click)="onClickTab('contact')"class="item">Contact</a>
  </div>


    <!-----------------------In Small Screens------------------------------->

  <div class="nav-mobile-elements-container">

    <img src="assets/Images/KYOnly Logo.png" [routerLink]="['/home-page']" alt="KY logo">

    <div class="menu-toggler">
      <input type="checkbox" id="menu" [(ngModel)]="isSlideMenuToggled">

      <label for="menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </label>
    </div>

  </div>

  <!-----------------------In Small Screens------------------------------->

  <div class="nav-mobile-slider-options" *ngIf="isSlideMenuToggled == true" @slide>
    <div class = "mobile-menu-container">
        <div class="close-icon" (click)="closeMobileNav()">
            <div class="rectangle-one"></div>
            <div class="rectangle-two"></div>
        </div>

        <a class="item" (click)="onClickTab('gallery')">Gallery</a>
        <a class="item" (click)="onClickTab('contact')">Contact</a>
    </div>
  </div>

</div>


