<div class= "footer-container">
  <div class="footer-section">
    <h2>Contact</h2>
    <p>Kareem.yasserr@gmail.com</p>
  </div>

  <div class="footer-section">
    <h2>Follow Me</h2>
    <div class="socials">
      <img src="../../assets/Images/LinkedIn.png" alt="LinkedIn">
      <img src="../../assets/Images/Behance.png" alt="Behance">
      <img src="../../assets/Images/DA.png" alt="Deviant art">
      <img src="../../assets/Images/IG.png" alt="Instagram">
    </div>
  </div>

  <div class="footer-section copyrights">
    © 2023 Kareem Yasser | All Rights Reserved
  </div>

</div>
