<div class= "footer-container">
  <div class="footer-section">
    <h2>Contact</h2>
    <p>Kareem.yasserr@gmail.com</p>
  </div>

  <div class="footer-section">
    <h2>Follow Me</h2>
    <div class="socials">

      <a target="_blank" href="https://www.linkedin.com/in/kareem-yasser-23424b179/" >
        <img src="assets/Images/LinkedIn.png" alt="LinkedIn">
      </a>

      <a target="_blank" href="https://www.behance.com/ky8designs" >
        <img src="assets/Images/Behance.png" alt="Behance">
      </a>

      <a target="_blank" href="https://www.deviantart.com/ky8designs" >
        <img src="assets/Images/DA.png" alt="Deviant art for artists">
      </a>

      <a target="_blank" href="https://www.instagram.com/ky8designs/">
        <img src="assets/Images/IG.png" alt="Instagram">
      </a>

    </div>
  </div>

  <div class="footer-section copyrights">
    © 2023 Kareem Yasser | All Rights Reserved
  </div>

</div>
